@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');

*{
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
}

li {
    margin-left: 1em;
}

table{
    border-spacing: 0;
}

body{
    font-family: 'Oswald', sans-serif;
    padding-left: 5px;
    padding-right: 5px
}

#banner{;
    background-image: url(../assets/img/pattern.png);
    background-size: 500px;
    background-color: cornflowerblue;
    height: 120px;
    
}

.border{
    margin: 4px;

}

#logo{
    width: 150px;
    margin-top: 75px;
    margin-left: 10px;
}

h1{
    margin-top: 15px;
}

#booleaner{
    color: deepskyblue;
}

.data{
    color: gray;
    margin-bottom: 15px;
}

.description{
    font-size: 10px;
}

.paragrafo{
    margin-top: 20px;
    margin-bottom: 25px;
}

.list{
    margin-bottom: 25px;
}

th, td{
    text-align: left;
    width: 500px;
}

thead{
    background-color: deepskyblue;
    color: white;

}

.color{
    background-color: lightblue;
}

h4{
    color: gray;
}

.top{
    background-image: url(../assets/img/monitor.jpg);
}

.bottom{
    background-image: url(../assets/img/graph.jpg);
}

.pic{
    width: 180px;
    height: 120px;
    color: white;
    font-size: 16px;
    margin-top: 10px;
    padding-left: 6px;
    padding-top: 5px;
    background-size: cover;
}